body {
  @include responsive-font(14, 16);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-midnight);
  background-color: var(--color-white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  @include responsive-font(22, 36);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  margin-top: var(--header-height);
  padding-block: 30px;
}
